/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

.osid_icon {
    background: url(../images/driveicon.png) no-repeat left center;
}

#progress_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/background_t.png) repeat;
    margin: 0;
    top: 0;
    left: 0;
}

    #progress_display {
        position: absolute;
        width: 500px;
        height: auto;
        background: #FFF;
        top: 50%;
        left: 50%;
        margin: -80px 0 0 -250px;
        padding: 10px;
        -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.75);
        box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.75);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    
        #progress_bar {
            position: relative;
            width: 6%;
            height: 22px;
            background: #095E99;
            text-align: center;
            color: #FFF;
            margin: 15px 0 15px 0;
            float: left;
        }
        
        #unprogress_bar {
            position: relative;
            width: 94%;
            height: 22px;
            background: #CCC;
            margin: 15px 0 15px 0;
            float: left;
        }

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/